.subsection {
  display: flex;
  gap: var(--space-8);
  justify-content: space-between;
  align-items: flex-start;
  margin-top: var(--space-12);
}

@media (max-width: 780px) {
  .subsection {
    flex-direction: column;
  }
}
